body{
     margin: 0;
     padding: 0;
}
.services{

}
.services .heading{
     border: 1px solid #D8E8FF;
     width: 110px;
     padding: 10px;
     margin: 0 auto;
     border-radius: 30px;
     display: flex;
     gap: 10px;
     margin-top: 20%;
     background-color: #eaeafb;
     color: blue;
     font-family: sans-serif;
}
.services h1{
     text-align: center;
     font-family: sans-serif;
     font-size: 70px;
}
.services h1 span{
     margin-left: 5px;
}
.services p{
     text-align: center;
     font-size: 26px;
     font-family: sans-serif;
     color: #4A5565;
}