.about {
     text-align: center;
     margin-top: 20px;
     background-color: #F8F9FF;
     margin-top: 10%;
}
.head {
     display: flex;
     justify-content: center;
     margin: 0 auto;
     gap: 10px;
     border: 1px solid #c5d8f5;
     border-radius: 50px;
     width: 100px;
     padding: 10px;
     background-color: #F2F5FF;
     transform: scale(1.05);
     color: blue;
     font-family: sans-serif;

}
.about h1{
     font-family: sans-serif;
     font-weight: 700;
     font-size: 60px;
}
.about span {
     font-family: sans-serif;
     background: linear-gradient(90deg, #4f6df5, #a020f0, #2bb6c4);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.about p{
     font-size: 20px;
     font-family: sans-serif;
     color: #4A5565;
}